.navbar {
    background-image: linear-gradient(to right, #C2234B, #2F0050);
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
}